@font-face {
    font-family: futurak;
    src: url(fonts/futurak.ttf);
}
@font-face {
    font-family: butler;
    src: url(fonts/butlerbold.otf);
}

/* nav-bar */

.nav-bar {
    height: 92px;
    background-color: black;
}

.nav-bar > figure > a > img {
    width: 156px;
    height: 74px;
    margin-top: 15px;
} 

.nav-bar a:link {
    text-decoration: none;
    color: white;
}

.nav-bar .arrow-border {
    background-color: white;
    height: 25px;
    width: 26px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .arrow-border > i {
    color: black;
}

.nav-bar .order-btn {
    display: flex;
    height: 55px;
    font-size: 14px;
    width: 145px;
    border-radius: 64px;
    justify-content: space-evenly;
    padding-top: 15px;
    background-color: #ed1c24;
}

.nav-bar > ul {
    list-style-type: none;
    display: flex;
    margin-left: 260px;
    column-gap: 35px;
    margin-top: 17px;
    font-size: 16px;
} 

.fran-btn {
    border: 1px solid whitesmoke;
    color: white;
    height: 55px;
    width: 126px;
    border-radius: 64px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 14px;
}

.btns {
    display: flex;
    column-gap: 15px;
    margin-left: 35px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar > i {
    display: none;
    color: white;
}

@media only screen and (max-width: 1190px) {
    .nav-bar > ul {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 997px) {
    .nav-bar > figure > a > img {
        width: 86px;
        height: 37px;
        margin-left: 50px;
    } 

    .nav-bar > ul {
        display: none;
    } 
    
    .fran-btn {
        display: none;
    }

    .nav-bar > i {
        display: block;
        font-size: 19px;
        margin-left: 10px;
    }

    .nav-bar {
        height: 53px;
    }

    .nav-bar .order-btn {
        font-size: 12px;
        width: 112px;
        height: 40px;
        margin-right: 10px;
        padding: 9px;
    }

    .nav-bar .arrow-border {
        width: 21px;
        height: 20px;
        border-radius: 118px;
        margin-right: 3px;
    }

    .nav-bar .order-btn > p {
        order: 1;
    }

    .nav-bar .arrow-border > i {
        font-size: 15px;
    }

    .btns {
        column-gap: 0;
        margin-left: 0;
    }

    .nav-bar {
        justify-content: space-between;
    }
}

/* carousel */

@media only screen and (max-width: 768px) {
    .carousel img {
        height: 105vw;
    }
}

/* brands section */

.brands {
    background-color: black;
    height: auto;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;

}

.brands .heading {
    font-size: 40px;
    width: 85%;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-bottom: 9px;
    font-weight: 1;
}

.brand-name {
    font-family: futurak;
    font-size: 52px;
    color: white;
}

.subline {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 36px;
    font-size: 17px;
}

.brands > .row {
    justify-content: center;
}

.card-btn {
    display: flex;
    justify-content: center;
}

.order-now-btn1, .order-now-btn2, .order-now-btn3 {
    height: 50px;
    width: 160px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.card-btn > a:link {
    text-decoration: none;
}

.card-btn p {
    color: white;
}

.card > img {
    height: 25vh;
}

@media only screen and (max-width: 360px) {
    .brands {
        height: 1230px;
        padding-top: 50px;
    }

    .brands .heading {
        font-size: 30px;
    }

    .subline {
        font-size: 13px;
    }
}

/* franchises section */

.fran-sec {
   background-color: rgb(15 15 15);
   height: auto;
   color: white;
   position: relative;
   padding-bottom: 85px;
}

.fran-sec .bg-img {
    position: absolute;
    right: 30px;
    top: 33px;
    height: 35vw;
    width: 25vw;
}

.heading1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 8px;
    font-family: butler;
    padding-top: 69px;
    text-align: center;
    
}

.fran-sec .bg-fig {
    margin-top: -16px;
}

.subline1 {
    line-height: 19px;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 88%;
    margin: 0 auto;
    margin-bottom: 53px;
}

.fran-location {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    color: #ED1C24;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 8px;
}

.fran span  {
    font-family: futurak;
}

.fran-res {
    font-size: 32px;
    line-height: 38px;
    font-weight: 1;
    margin-bottom: 26px;
}

.fran .address > p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
}

.fran a:link {
    text-decoration: none;
}

.fran a p {
    color: white;
    text-decoration: none;
}

.fran .contact a:link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.fran i {
    color: rgba(255, 255, 255, 0.7);
}

.fran .arrow-border {
    background-color: white;
    height: 25px;
    width: 26px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fran .arrow-border > i {
    color: red;
}

.fran .order-btn {
    display: flex;
    height: 55px;
    font-size: 14px;
    width: 155px;
    border-radius: 100px;
    justify-content: space-evenly;
    padding-top: 16px;
    background-color: rgb(15 15 15);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    margin-top: 45px;
}

.fran-sec .row {
    justify-content: space-around;
}

.fran-img > img {
    width: 100%;
    height: 20vw;
}

.fran2 {
    margin-top: 35px;
}

.fran3 {
    margin-top: 35px;
}

@media only screen and (max-width: 768px) {
    .fran-img > img {
        height: 45vw;
    }

    .fran-sec {
        padding-bottom: 35px;
    }

    .heading1 {
        font-size: 24px;
        line-height: 30px;
        padding-top: 30px;
    }

    .heading1 .brand-name, .fran-res {
        font-size: 24px;
        line-height: 29px;

    }

    .fran p {
        text-align: center;
    }

    .fran .address p {
        margin: 0 auto;
    }

    .fran .contact p {
        margin: 0 auto;
        margin-top: 10px;
    }

    .fran .order-btn {
        margin: 30px auto;
    }

    .f2c1 {
        order: 1;
    }
}

/* express franchises section */

.exp-fran {
    position: relative;
    background-color: black;
    height: auto;
    padding-bottom: 45px;
    color: white;
}

.exp-fran > .heading1 {
    margin-bottom: 35px;
}

.bg-fig1 {
    margin-top: -30px;
}

.bg-img1 {
    position: absolute;
    left: 30px;
    top: 33px;
    height: 35vw;
    width: 25vw;
}

.exp-fran-img > img {
    height: 18vw;
    width: 100%;
}

.exp-fran .row {
    justify-content: center;
}

.exp-fran .location {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.48em;
    color: #ED1C24;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 8px;
}

.exp-fran .res-type {
    font-size: 24px;
    line-height: 29px;
    font-weight: 1;
    text-align: center;
}

.exp-fran .res {
    font-size: 24px;
    line-height: 29px;
    font-family: futurak;
}

.exp-fran .address > p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
    text-align: center;
}

.exp-fran .contact > p {
    text-align: center;
}


.exp-fran a:link {
    text-decoration: none;
}

.exp-fran a p {
    color: white;
    text-decoration: none;
}

.exp-fran .contact a:link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.exp-fran i {
    color: rgba(255, 255, 255, 0.7);
}

.exp-fran .arrow-border {
    background-color: white;
    height: 25px;
    width: 26px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-fran .arrow-border > i {
    color: red;
}

.exp-fran .order-btn {
    display: flex;
    height: 55px;
    font-size: 14px;
    width: 155px;
    border-radius: 100px;
    justify-content: space-evenly;
    padding-top: 16px;
    background-color: black;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    margin: 30px auto;
}

@media only screen and (max-width: 768px) {
    .exp-fran-img > img {
        height: 45vw;
        width: 100%;
    }

    .exp-fran {
        padding-bottom: 15px;
    }
}


/* village franchises section  */

.vill-fran {
    height: auto;
    background-color: rgb(15,15,15);
    color: white;
    padding-bottom: 60px;
}

.vill-fran .heading1 {
    margin-bottom: 25px;
}
.vill-fran span  {
    font-family: futurak;
}

.vill-fran-res {
    font-size: 32px;
    line-height: 38px;
    font-weight: 1;
    margin-bottom: 26px;
}

.vill-fran .address > p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
}

.vill-fran a:link {
    text-decoration: none;
}

.vill-fran a p {
    color: white;
    text-decoration: none;
}

.vill-fran .contact a:link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.vill-fran i {
    color: rgba(255, 255, 255, 0.7);
}

.vill-fran .arrow-border {
    background-color: white;
    height: 25px;
    width: 26px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vill-fran .arrow-border > i {
    color: rgb(40 167 69);
}

.vill-fran .order-btn {
    display: flex;
    height: 55px;
    font-size: 14px;
    width: 155px;
    border-radius: 100px;
    justify-content: space-evenly;
    padding-top: 16px;
    background-color: rgb(40 167 69);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    margin-top: 45px;
}

.vill-fran .row {
    justify-content: center;
}

.vill-fran-img > img {
    width: 100%;
    height: 29vw;
}

.vill-fran .des {
    align-self: center;
}

@media only screen and (max-width: 767px) {
    .vill-fran-img > img {
        width: 100%;
        height: 50vw;
    }

    .vill-fran-res {
        font-size: 22px;
    }

    .vill-fran-res, .vill-fran .contact p, .vill-fran .fran-location, .vill-fran .address p  {
        text-align: center;
    }
    
    .vill-fran .order-btn {
        margin: 0 auto;
    }

    .vill-fran {
        padding-bottom: 70px;
    }

    .vill-fran {
        padding-bottom: 35px;
    }

}

/* social feed section  */

.social-feed {
    height: auto;
    background-color: black;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.social-feed img {
    width: 105%;
}

.social-feed p {
    font-family: 'Butler';
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.social-feed .row {
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .social-feed > p {
        font-size: 24px;
        line-height: 29px;
    }

    .social-feed img {
        width: 100%;
    }

    .social-feed > .row {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 576px) {
    .social-feed img {
        height: 40vw;
        width: 75%;
        margin: 7px 10vw;

    }
}

/* footer */
.footer {
    background-color: rgba(15, 15, 15, 1);
    height: auto;
    position: relative;
    padding-top: 68px;
}

.footer .row {
    justify-content: center;
}

.footer i {
    font-size: 18px;
    margin: 0 7px;
}

.footer .icon-bg {
    background-color: #ed1c24;
    height: 41px;
    width: 41px;
    border-radius: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .pp-tc-box {
    display: flex;

}

.footer .pp-tc-box > p {
    margin-right: 10px;
}

#copyright1 {
    margin-top: 22px;
    padding-left: 94px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}

.footer-breaker {
    margin-top: 41px;
    margin-bottom: -13px;
    color: rgba(255, 255, 255, 0.4)
}

#copyright2 {
    text-align: end;
    margin-top: 22px;
    padding-right: 82px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7)
}

.footer .bg-box {
    display: flex;
    column-gap: 10px;
    margin-bottom: 26px;
}

.footer p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.footer .bg-img {
    position: absolute;
    left: 30px;
    bottom: 0px;
    height: 26vw;
    width: 23vw;
}

.footer .bg-fig {
    margin-top: -16px;
}

.nav-icon1 {
    width: 131px;
    height: 68px;
}

.footer, .footer a:link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer .heading {
    font-family: 'Butler';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer address {
    margin-top: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16' style='&%2310; fill: white;&%2310;'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}

.bi-dash {
    fill: red;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16' style='&%2310; fill: white;&%2310;'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E");
}

.footer-accordion {
    display: none;
}

@media only screen and (max-width: 992px) {
    .site-links {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #copyright1, #copyright2 {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    #copyright2 {
        margin-top: -13px;
        margin-bottom: 11px;
    }

    .follow-us {
        display: none;
    }

    .footer .footer-breaker {
        margin-top: 19px;
    }

    .footer {
        padding-top: 40px;
    }

    .footer .cibta {
        padding-top: 15px;
    }

    .footer .follow-us-box {
        padding-top: 15px;
    }
}


@media only screen and (max-width: 576px) {
    .footer-des p {
        text-align: center;
    }

    .footer-des > figure {
        display: flex;
        justify-content: center;
    }

    .footer .pp-tc-box {
        justify-content: center;
        margin-top: 22px;
    }

    .footer-accordion {
        display: block;
    }

    .accordion {
        --bs-accordion-btn-bg: rgba(15, 15, 15, 1);
        --bs-accordion-active-bg: rgba(15, 15, 15, 1);
        --bs-accordion-active-color: #ffffff;
        --bs-accordion-btn-color: #FFFFFF;
        --bs-accordion-bg: rgba(15, 15, 15, 1);
        --bs-accordion-color: #ffffff;
        --bs-accordion-border-color: rgba(15, 15, 15, 1);
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-btn-icon-transition: none;
        --bs-accordion-transition: none;
        --bs-accordion-btn-padding-y: 3px;
    }

    .footer-accordion-sub {
        display: none;
    }

    .footer .bg-box {
        justify-content: center;
    }

    .footer .downloads-box {
        display: flex;
        justify-content: center;
    }  

    .pp-tc-box {
        margin-bottom: 14px;
    }
}

@media only screen and (max-width: 337px) {
    .footer .downloads-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}






